@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  overflow-y: auto;
}

.container .home_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100%;
  margin: 30px auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container .home_content form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100vh;
}

.container .home_content form .head-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .container .home_content form .head-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .home_content form .head-form .left-section {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.container .home_content form .head-form .left-section .photo {
  position: relative;
  width: 80%;
  height: 270px;
  display: block;
  margin: auto;
  background-color: #efefef;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .container .home_content form .head-form .left-section .photo {
    width: 50%;
    height: 250px;
    margin-bottom: 20px;
  }
}

.container .home_content form .head-form .left-section .photo a {
  text-decoration: none;
  position: absolute;
  white-space: nowrap;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .home_content form .head-form .left-section .photo a:hover {
  color: olive;
}

.container .home_content form .head-form .right-section {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  width: 100%;
  margin-left: 30px;
}

@media (max-width: 1200px) {
  .container .home_content form .head-form .right-section {
    margin-left: 0;
  }
}

.container .home_content form .input-row {
  width: 100%;
  margin-bottom: 20px;
}

.container .home_content form .input-row label {
  color: #48484b;
}

.container .home_content form .input-row input, .container .home_content form .input-row textarea {
  width: 100%;
  background-color: #efefef;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 60px;
  margin-top: 10px;
}

.container .home_content form .input-row input:focus, .container .home_content form .input-row textarea:focus {
  background-color: #fff;
  border: 0.5px solid #c1c1c1;
}

.container .home_content form .input-row input::-webkit-input-placeholder, .container .home_content form .input-row textarea::-webkit-input-placeholder {
  padding-left: 10px;
}

.container .home_content form .input-row input:-ms-input-placeholder, .container .home_content form .input-row textarea:-ms-input-placeholder {
  padding-left: 10px;
}

.container .home_content form .input-row input::-ms-input-placeholder, .container .home_content form .input-row textarea::-ms-input-placeholder {
  padding-left: 10px;
}

.container .home_content form .input-row input::placeholder, .container .home_content form .input-row textarea::placeholder {
  padding-left: 10px;
}

.container .home_content form .input-row textarea {
  height: 80px;
}

.container .home_content form .input-row .label-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.container .home_content form .input-row .label-content a {
  text-decoration: none;
}

.container .home_content form .input-row .social-media-output {
  width: 100%;
  min-height: 60px;
  background-color: #efefef;
  border-radius: 5px;
}

.container .home_content form .input-row .social-media-output ul {
  padding: 12px 22px;
}

.container .home_content form .input-row .social-media-output ul li {
  margin-bottom: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .home_content form .input-row .social-media-output ul li button {
  border: none;
  position: absolute;
}

.container .home_content form .input-row .social-media-output ul li button:hover {
  cursor: pointer;
}

.container .home_content form .input-row .social-media-output ul li button i {
  font-size: 15px;
}

.container .home_content form .input-row .social-media-output ul li button:nth-child(1) {
  right: 0;
}

.container .home_content form .input-row .social-media-output ul li button:nth-child(2) {
  right: 25px;
}

.container .home_content form .social {
  padding: 20px 0;
}

.container .home_content form .btn-container {
  text-align: center;
}

.container .home_content form .btn-container .btn-close {
  width: 80px;
  background-color: darkblue;
  color: #fff;
  border: none;
  padding: 15px;
  text-align: center;
  border-radius: 4px;
}

.container .home_content form .btn-container .btn-close:hover {
  cursor: pointer;
  background-color: #050550;
}

.container .home_content form .backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.container .home_content form .backdrop.open {
  display: block;
}

.container .home_content form .backdrop .social-media-modal {
  position: relative;
  padding: 40px;
  margin: 200px auto;
  width: 400px;
  border-radius: 5px;
  background-color: #fff;
  border-radius: 5px;
}

.container .home_content form .backdrop .social-media-modal .top-close {
  position: absolute;
  right: 10px;
  top: 13px;
}

.container .home_content form .backdrop .social-media-modal .top-close:hover {
  cursor: pointer;
}

.container .home_content form .backdrop .social-media-modal .top-close i {
  font-size: 25px;
}

.container .home_content form .backdrop .social-media-modal .btns .btn {
  border: none;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
}

.container .home_content form .backdrop .social-media-modal .btns .cancel {
  background: #b9e1b9;
}

.container .home_content form .backdrop .social-media-modal .btns .cancel:hover {
  background: #ddf5dd;
  cursor: pointer;
}

.container .home_content form .backdrop .social-media-modal .btns .save {
  background-color: darkblue;
}

.container .home_content form .backdrop .social-media-modal .btns .save:hover {
  background: #050563;
  cursor: pointer;
}

.container .home_content .output {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 10px 5px;
  margin-top: 10px;
  background-color: #efefef;
  display: none;
}

.container .home_content .output.open {
  display: block;
}

.container .home_content .output .close-output {
  position: absolute;
  right: 13px;
}

.container .home_content .output .close-output:hover {
  cursor: pointer;
}

.container .home_content .output p {
  color: #48484b;
}
/*# sourceMappingURL=style.css.map */